@import '@material/ripple/mixins';
@import '@material/ripple/functions';
@import '@material/button/mixins';

$primary-color: #fc0;

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.mdc-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px;
  max-width: 480px;
}

.button-row {
  margin-bottom: 24px;
}


// buttons
.buttons {

  .mdc-form-field {
    align-self: flex-end;
  }

  .mdc-button {
    font-weight: bold;
    letter-spacing: 2.5px;
    padding: 0 16px 0 16px;
  }

  // created button core element
  .mdc-button__core {
    padding: 2px;
    border: 2px solid transparent;
    outline: none;
    &:not(.mdc-button__core--filled) .mdc-button:hover::before {
      background-color: $black;
    }

    &:not(.mdc-button__core--disabled):focus {
       border-color: #ffa000;
    }

    &:not(.mdc-button__core--filled):not(.mdc-button__core--disabled):focus {
      background-color: rgba($primary-color, .24);
    }
  }


  // outlined
  .mdc-button.mdc-button--outlined {
    @include mdc-button-ink-color($black);
    @include mdc-button-outline-color($black);
  }

  // dark
  .mdc-button.mdc-button--dark {
    @include mdc-button-ink-color($white);
    @include mdc-button-container-fill-color($black);
  }

  .mdc-button:not(.mdc-button--outlined):not(.mdc-button--dark) {
    @include mdc-button-ink-color($black);
  }
}
