@font-face {
  font-family: 'Geograph';
  src: url("./Geograph/GeographWeb-Regular.woff") format("woff"),
    url("./Geograph/GeographWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: 'Geograph';
  font-weight: bold;
  src: url("./Geograph/GeographWeb-Bold.woff2") format("woff2");
}
